<h2>Resources</h2>

<p>Select an API Resource for version <code><%= @api_version.name %></code> from the following list</p>

<ol>
<% @api_resources.each do |api_resource| %>
  <li>
    <%= link_to api_resource.name, api_resource_path(api_resource.name, api_host: api_resource.api_host.name, api_version: api_resource.api_version.name) %>

    <ul class="no-bullet">
      <% api_resource.api_actions.each do |api_action| %>
        <li><%= link_to api_action.name, details_api_action_path(api_resource: api_resource.name, api_host: api_resource.api_host.name, api_version: api_resource.api_version.name, api_action: api_action.name) %></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ol>