<h2>Actions</h2>

<p>Select an API Action for <code><%= @api_resource.name %></code> from the following list</p>

<ol>
<% @api_actions.each do |api_action| %>
  <li>
    <%= link_to api_action.name, details_api_action_path(
      api_action: api_action.name,
      api_host: api_action.api_host.name,
      api_version: api_action.api_version.name,
      api_resource: api_action.api_resource.name
    ) %>
  </li>
<% end %>
</ol>