<h2>Browse Web API Docs</h2>

<p>Start by selecting an API from the following list</p>

<ol>
  <% @api_hosts.each do |api_host| %>
    <li><%= link_to api_host.name, api_versions_path(api_host: api_host.name) %> </li>
  <% end %>
</ol>
