<div class="row">
  <div class="small-6 small-centered columns">
    <h2>About</h2>

    <dl>
      <dt>Author</dt>
      <dd>S M Sohan</dd>
      <dt>Contact</dt>
      <dd><a href="https://twitter.com/smsohan">@smsohan</a></dd>
    </dl>

    <p>
      This is a research project aimed towards a PhD thesis, and possibly a mainstream adoption in the industry. Comments and ideas are welcome <a href="https://github.com/smsohan/api_through_ui/issues">here</a>.
    </p>

    <p>
      Thank you for visiting SpyREST.
    </p>

  </div>
</div>
