<div class="row full-width">
    <div class="small-12 large-4 small-centered large-uncentered columns">
      <div id="disqus_thread"></div>
    </div>
</div>


<script type="text/javascript">
var disqus_shortname = 'spyrest';
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


<script>
$(document).foundation();
ga('send', 'pageview');
</script>
