    <section class="top-bar-section">
      <ul class="right">
        <li><%=link_to 'API Docs', api_hosts_path%></li>
        <li><%=link_to 'GitHub', 'https://github.com/smsohan/api_through_ui'%></li>
        <% if user_signed_in? %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Login", new_user_session_path unless current_user %></li>
        <% end %>
    </ul>
</section>
